<div mat-dialog-content>
    <p style="font-weight: bold; display: inline-block">Id:</p> <p style="margin-left:10px; display: inline-block">{{data.Id}}</p><br/>
    <p style="font-weight: bold; display: inline-block">Nombre:</p> <p style="margin-left:10px; display: inline-block">{{data.OwnerName}}</p><br/>
    <p style="font-weight: bold; display: inline-block">Usuario:</p> <p style="margin-left:10px; display: inline-block">{{data.UserName}}</p><br/>
    <p style="font-weight: bold; display: inline-block">Contraseña:</p> <p style="margin-left:10px; display: inline-block">{{data.Password}}</p><br/>
    <p style="font-weight: bold; display: inline-block">Categoría:</p> <p style="margin-left:10px; display: inline-block">{{data.Category}}</p><br/>
    <p style="font-weight: bold; display: inline-block">Acceso:</p> <p style="margin-left:10px; display: inline-block">{{data.Access}}</p><br/>
    <p style="font-weight: bold; display: inline-block">Rescursos:</p> <p style="margin-left:10px; display: inline-block">{{data.Resource}}</p><br/>
    <p style="font-weight: bold; display: inline-block">Instrucciones:</p> <p style="margin-left:10px; display: inline-block">{{data.Instructions}}</p><br/>
    <p style="font-weight: bold; display: inline-block">Extras:</p> <p style="margin-left:10px; display: inline-block">{{data.Extras}}</p><br/>
    <p style="font-weight: bold; display: inline-block">Notas:</p> <p style="margin-left:10px; display: inline-block">{{data.Notes}}</p><br/>
</div>