$Rust: #da7201;
$Gold: #fdb201;
$Yellow: #fdc558;
$Gray: #9ca18a;
$Gray_transparent: #9ca18a5e;
$Perry: #528380;
$Invisible: #00987a00;


h2{
    display: inline-block;
    padding-right: 20px;
}

input{
    margin-right: 25px;
    display: inline-block;
    width: 200px;
}

button {
    display: inline-block;
    padding-left: 25px;
    background-color: $Gold;
    color: white;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

table {
    width: fit-content;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    width: fit-content;
    border-collapse: collapse;
    border-radius: 20px;
    margin: 5px 5% 5px 5%;

    thead{ border-radius: 20px; }

    th{
        background-color: $Perry/*#009879*/;
        color: cornsilk;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        padding: 10px;
    }
      
    th, td {
        border: none;
    }

    .icon-psw{
        text-align: center;
    }

    td {
        text-align: justify;
        width: fit-content;
        border: transparent;
        padding: 12px;
    }

    td :nth-child(even){
        background-color: $Gray_transparent;
    }

    .btn {
        border: none;
        background-color: $Invisible;
    }
    .details{
        background-color: $Invisible;
        color: $Perry;
    }

    .edit{
        background-color: white;
        color: $Gold;
    }

    .delete{
        background-color: $Invisible;
        color: #fa6b6b;
    }
     
}
.mat-card {
    text-align: center;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}

.mb-20 {
    margin-bottom: 20px;
}
