$Rust: #da7201;
$Gold: #fdb201;
$Yellow: #fdc558;
$Gray: #9ca18a;
$Perry: #528380;

:host ::ng-deep .mat-card-header-text {
    width: 100%;
    text-align: right;
}

.icon-lg {
     font-size: 25px;
}

.mat-card {//NOTA: numero e icono
    color: #fff; 
    .mat-card-header {
        width: 100%;
    }
    .mat-card-title {//NOTA: tamaño del numero
        font-size: 30px !important; 
    }
    .mat-card-subtitle {
        color: #fff; //texto
        font-size: 15px;
    }

    .mat-card-actions {
        a {
            text-decoration: none;
            cursor: pointer;
            color: #fff;
        }
    }
}

.mat-card.users {
    background: linear-gradient(60deg, $Rust, $Gold); // #ec407a, #d81b60);
}

.mat-card.categories {
    background: linear-gradient(60deg, $Gray, $Perry);// #ffa726, #fb8c00);
}

.mat-card.access {
    background: linear-gradient(60deg, $Yellow, $Gold); // #66bb6a, #43a047);
}

.mat-card.search {
    background: linear-gradient(60deg, $Perry, $Gray); // *#26c6da, #00acc1);
}
