<div class="container mt-5">
    <h2>Licencias</h2>
    <!--FILTER-->
    <input type="text" placeholder="Search..." [(ngModel)]="filterTerm"/>
    <!--END FILTER-->
    <button (click)="addItem()" class="add"><mat-icon>add</mat-icon></button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th [style.display]="'none'">Id.</th>
                <th [style.display]="'none'">Nombre</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Categoría</th>
                <th>Acceso</th>
                <th>Recurso</th>
                <th>Instrucciones</th>
                <th [style.display]="'none'">Extras</th>
                <th [style.display]="'none'">Notas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of dataSource | filter: filterTerm">
                <td [style.display]="'none'">{{ element.Id }}</td>
                <td [style.display]="'none'">{{ element.OwnerName }}</td>
                <td>{{ element.UserName }}</td>
                <td class="icon-psw"><mat-icon>visibility_off</mat-icon></td>
                <td *ngIf="Category == 'Licencias'">{{ element.Category }}</td>
                <td>{{ element.Access }}</td>
                <td>{{ element.Resource }}</td>
                <td>{{ element.Instructions }}</td>
                <td [style.display]="'none'">{{ element.Extras }}</td>
                <td [style.display]="'none'">{{ element.Notes }}</td>
                <td>
                    <button class="btn details" (click)="seeItem(element)">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button class="btn edit" (click)="editUser(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button class="btn delete" (click)="removeRow(element.Id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>